.DS_Store

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Build products
build/
*.o
*.LinkFileList
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.build/
Build/
Debug*/
Release*/
*.app
*.app.dSYM*

# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj/*.xcworkspace/xcshareddata/swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
Pods/
*.xcworkspace
!default.xcworkspace

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
injectionforxcode/
